h1 {
    text-align: center;
    font-size: 65px;
    margin-bottom: 0px;
}

.score {
    font-size: 120px;
}

.score-board {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
}

.btn-wrapper {
    font-size: 125px;
    display: grid;
    grid-template-columns: 120px 120px 120px;
    align-items: center;
    justify-items: center;
    transition: grid-template-columns 0.5s;
}



.vs {
    font-size: 50px;
}

.rps {
    border: 5px solid black;
    background-color: white;
    padding: 50px 30px;
    border-radius: 20px;
    transition: ease-in-out 0.3s;
}

#paper,
.paper {
    z-index: 100;
}

.player-btn:hover {
    scale: 1.1;
    z-index: 110;
}

.player.btn-wrapper:hover {
    grid-template-columns: 170px 150px 170px;
    cursor: pointer;
}

.titles {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title-wrapper h2 {
    font-size: 50px;
}

.rematch-btn {
    font-size: 20px;
    padding: 15px 35px;
    border-radius: 20px;
    background: none;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    z-index: 120;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.modal-content #result {
    font-size: 20px
}

button#rematchButton {
    cursor: pointer;
    font-size: 15px;
    background-color: #009688;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
}

button#rematchButton:hover {
    background-color: #00796b;
}

.show-choice {
    scale: 1.1;
    z-index: 110;
}